//Reset css
@import "reset.css";

//Modules - zmienne, mixiny, mapy
@import "variables";
@import "colors";
@import "modules";
@import "typography";

//Components - stałe elementy strony
@import "components/apla";
@import "components/avatar";
@import "components/background";
@import "components/button";
@import "components/footer";
@import "components/form_elems";
@import "components/icons";
@import "components/logo";

//Pages - poszczególne części strony;
@import "pages/login_site";


body {
  font-family: 'Roboto', sans-serif, 'existencelight', Arial, Helvetica, sans-serif;
  color: $fontColor;

  background-image: url("pics/login_page/background_container.png");
}