.dashboard_header_container {
  background-color: $mainColor;

}

.usrname {
  text-align: left;
  display: block;
  margin-top: 20px;
  height: 40px;
  line-height: 1rem;
  // overflow: hidden;
}

.usroptions {
  display: inline-block;
}


.search_power_outer_container {
  height: 110px;
  border: 1px solid yellow;
  position: relative;

  .search_power_inner_container {
    border: 1px solid green;
    display: inline-block;
    float: right;
    position: absolute;

    .search_icon, .power_icon {
      border: 1px solid pink;
      display: inline-block;

      img {
        height: 30px;
      }
    }
  }
}

.search_icon {
  //float: right;
}

.power_icon {
  //float: left;
}

