body {
  font-family: 'Roboto', sans-serif, 'existencelight', Arial, Helvetica, sans-serif;
  color: $fontColor;

  background: {
    image: url("../pics/login_page/background_container.png");
    repeat: no-repeat;
    size: 100%;
  }




}

