.green_background {
  background-color: $mainColor;
  border-radius: 5px;
  margin-top: 40px;
}

.box_title {
  padding-top: 20px;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.box_subtitle {
  font-size: 1rem;
  margin-top: -8px;
}

.buttons_wrapper {
  margin-right: 40px;
  padding-bottom: 160px;
}

a {
  color: $fontColor;
}